http:
  routers:
    product-router:
      rule: "PathPrefix(`/api/product`)"
      entryPoints: ["web"]
      service: product-service

  services:
    product-service:
      loadBalancer:
        servers:
          - url: "${PRODUCT_SERVICE_URL}"
