http:
  routers:
    product-router:
      rule: "PathPrefix(`/api/v1`)"
      entryPoints: ["${ENTRY_POINT}"]
      service: product-service

  services:
    product-service:
      loadBalancer:
        passHostHeader: false
        servers:
          - url: "${PRODUCT_SERVICE_URL}"
